/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}





nav {
    display: flex;
    justify-content: right;
}

body {
    display: flex;
    justify-content: center;
}

button.economique:hover {
    background-color: #DEEBFF;
  }

  button.familial:hover {
    background-color: #DEEBFF;
  }

  button.romantique:hover {
    background-color: #DEEBFF;
  }

  button.nos-pepites:hover {
    background-color: #DEEBFF;
  }

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.ss-titre {
    margin-bottom: 40px;
}

.neutralStar {
    color:  #F2F2F2;
}

.fa-location-dot {
    background-color: #F2F2F2;
    color: black;
    height: 14px;
    width: 14px;
    margin-bottom: 29px;  
    padding: 21px 21px;
    border-radius: 1rem 0 0 1rem;
}

.search {
  
    font-weight: bold;
    color: black;
}


.fa-filtre {
    
    margin: 8px;
    font-size: 20px;
    padding: 4px;
    background-color: none;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    border: solid white 0px;
    border-radius: 25px;
    color: #0065FC
    
}

.fa-solid {
   
    text-align: center;

}



.fa-star {
    color:#0065FC
}

.info {
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 4px;
    background-color: white;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    border: solid #d9d9d9 1px;
    border-radius: 25px;
    color: #0065FC

}


.search-container {
    display: flex;
    flex-direction: row;
    
}

.bouton-rechercher {
    height: 49px;
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    border: none;
    font-weight: bold;
}

.searchbar-text {
    
    height: 49px;
    border: solid #F2F2F2 0px;
    font-weight: bold;
    color: black;
}

.barre-filtres {
    display: flex;
    flex-direction: row;
    
}

.economique, .familial, .romantique, .nos-pepites {
    
    margin-left: 10px;
    border-radius: 25px;
    height: 50px;
    padding: 18px, 19px, 18px, 19px;
    border: solid #d9d9d9 2px;
    background-color: white;
    font-weight: bold;
    padding-right: 20px;
    padding-bottom: 10px;
    align-items: center;
   
}

.fa-chart-line {
    color: #0065FC
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.hebergements-cards .card {
    
    margin-top: 33px;
}

.hebergements-cards img {
    width: 250px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: ;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}